html,
body,
.container {
	height: 120%;
	background-color: rgb(246, 246, 246);
	overflow-y: hidden;
}

.container {
	padding-top: 50px;
	position: relative;
	text-align: center;
}

#btnCerca {
	width: 100%;
	height: 40px;
	font-size: 15pt;
	margin-bottom: 2%;
}

h1 {
	text-align: center;
	font-size: 30pt;
	padding: 20pt;
	font-family: verdana;
	font-weight: 900;
	font-style: italic;
}

.first {
	text-align: right;
}

.first h4 {
	font-weight: 700;
}

@media screen and (max-device-width:576px) {
	.first {
		text-align: left;
	}
}

@media screen and (max-width:576px) {
	.first {
		text-align: left;
	}
}

.origin {
	width: 240px;
}

.dropdown>button,
button.btn-dark {
	width: 240px;
	font-weight: bold;

}

.dropdown>div {
	width: 240px;
}

.col-sm-6 {
	margin-bottom: 10px;
}

.mapContainer {
	width: inherit;
	height: 600px;
	margin: 10px auto;
}

.swal2-popup p {
	margin-top: 20px
}

.swal2-popup img {
	width: 300px;
}

/* NAVBAR STYLE */

.navbar {
	width: 100%;
	position: fixed;
	z-index: 1000;
}

nav {
	background-color: rgb(142, 142, 146);
}

.navbar-brand {
	font-size: 20pt;
}

/* account */
#btn-message {
	--text-color: #000;
	--bg-color-sup: #d2d2d2;
	--bg-color: #f4f4f4;
	--bg-hover-color: #ffffff;
	--online-status: #00da00;
	--font-size: 16px;
	--btn-transition: all 0.2s ease-out;
}

.button-message {
	display: flex;
	justify-content: center;
	align-items: center;
	font: 400 var(--font-size) Helvetica Neue, sans-serif;
	box-shadow: 0 0 2.17382px rgba(0, 0, 0, .049), 0 1.75px 6.01034px rgba(0, 0, 0, .07), 0 3.63px 14.4706px rgba(0, 0, 0, .091), 0 22px 48px rgba(0, 0, 0, .14);
	background-color: var(--bg-color);
	border-radius: 68px;
	cursor: pointer;
	padding: 6px 10px 6px 6px;
	width: fit-content;
	height: 40px;
	border: 0;
	overflow: hidden;
	position: relative;
	transition: var(--btn-transition);
}

.button-message:hover {
	height: 45px;
	padding: 8px 20px 8px 8px;
	background-color: var(--bg-hover-color);
	transition: var(--btn-transition);
}

.button-message:active {
	transform: scale(0.99);
}

.content-avatar {
	width: 30px;
	height: 30px;
	margin: 0;
	transition: var(--btn-transition);
	position: relative;
}

.button-message:hover .content-avatar {
	width: 40px;
	height: 40px;
}

.avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	background-color: var(--bg-color-sup);
}

.user-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.status-user {
	position: absolute;
	width: 6px;
	height: 6px;
	right: 1px;
	bottom: 1px;
	border-radius: 50%;
	outline: solid 2px var(--bg-color);
	background-color: var(--online-status);
	transition: var(--btn-transition);
	animation: active-status 2s ease-in-out infinite;
}

.button-message:hover .status-user {
	width: 10px;
	height: 10px;
	right: 1px;
	bottom: 1px;
	outline: solid 3px var(--bg-hover-color);
}

.notice-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 8px;
	text-align: initial;
	color: var(--text-color);
}

.username {
	letter-spacing: -6px;
	height: 0;
	opacity: 0;
	transform: translateY(-20px);
	transition: var(--btn-transition);
}

.user-id {
	font-size: 12px;
	letter-spacing: -6px;
	height: 0;
	opacity: 0;
	transform: translateY(5px);
	transition: var(--btn-transition);
}

.lable-message {
	display: flex;
	align-items: center;
	opacity: 1;
	transform: scaleY(1);
	transition: var(--btn-transition);
}

.button-message:hover .username {
	height: auto;
	letter-spacing: normal;
	opacity: 1;
	transform: translateY(0);
	transition: var(--btn-transition);
}

.button-message:hover .user-id {
	height: auto;
	letter-spacing: normal;
	opacity: 1;
	transform: translateY(0);
	transition: var(--btn-transition);
}

.button-message:hover .lable-message {
	height: 0;
	transform: scaleY(0);
	transition: var(--btn-transition);
}

.lable-message,
.username {
	font-weight: 300;
}

.number-message {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 8px;
	font-size: 12px;
	width: 16px;
	height: 16px;
	background-color: var(--bg-color-sup);
	border-radius: 20px;
}

/*==============================================*/
@keyframes active-status {
	0% {
		background-color: var(--online-status);
	}

	33.33% {
		background-color: #93e200;
	}

	66.33% {
		background-color: #93e200;
	}

	100% {
		background-color: var(--online-status);
	}
}

@media screen and (max-width:991px) {
	#btnLogOut {
		display: none;
	}

	#logOut {
		display: inline-block !important;
	}
}

#logOut {
	display: none;
}

/* button */
.btn {
	transition: all 0.3s ease-in-out;
	font-family: "Dosis", sans-serif;
}

.btn {
	width: 150px;
	height: 60px;
	border-radius: 50px;
	background-image: linear-gradient(135deg, #888888 0%, #313843 100%);
	box-shadow: 0 20px 30px -6px rgba(0, 0, 0, 0.5);
	outline: none;
	cursor: pointer;
	border: none;
	font-size: 24px;
	color: white;
}

.btn:hover {
	transform: translateY(3px);
	box-shadow: none;
}

.btn:active {
	opacity: 0.5;
}

#btnAdd {
	width: 50px;
}

.btnFont{
	padding: 0 !important;
	margin-bottom: 20px;
	height: 30px;
}

#selectUtenti {
	width: 100px;
	font-size: 12pt;
}

#btnLogOut {
	padding: 0 !important;
	height: 30px;
}

.title {
	text-align: center;
	width: 100%;
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 15px;
}

.align-right {
	width: 100%;
	text-align: right;
	padding-right: 20px;
}

.input-group {
	width: fit-content;
	float: left ;
	height: 30px;
}

.form-outline {
height: 30px;
}

.search {
	height: 30px;
}

.form-control {
	height: 30px;
}

#creaUtente {
	border: 1px solid gray;
	margin: auto;
	background-color: white;
	width: 50%;
	border-radius: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}

.btnNuovoUtente{
	margin: auto;
	width: 80%;
	height: 40px;
	font-size: 15pt;
	margin-top: 2%;
	margin-bottom: 2%;
}

.mapContainer {
	border-radius: 20px;
}

#apriDettagli {
	margin:0;
	width: 80%;
	height: 40px;
	font-size: 15pt;
	margin-top: 2%;
}

.mapPanel {
	text-align: center;
	margin-top: 2%;
	padding-bottom: 30px;
}

#divMsg {
	font-size: 15pt;
	margin-top: 2%;
}

.adp-directions {
	width: 100%;	
}

/*==============================================*/
/*==============================================*/
/*==============================================*/

.image {
	width: 200px;
	height: 100px;
	border-radius: 25px;
	overflow: hidden;
	margin: auto;
}

.content {
	margin: auto;
	margin-top: 25px!important;
	width: 500px;
	height: fit-content;
}

table {
	width: 100%;
}

@media screen and (max-width: 480px) {
	#dettagliPerizia {
		overflow-x: scroll;
	}
}